# Ignore node_modules folder
node_modules
.git/*
.github/*
.prettierrc
# Ignore build output
dist

# Ignore development files
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Ignore logs
logs
*.log

# Ignore temporary files
*.swp
*.swo
*.tmp

# Ignore editor-specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore version control files
.git
.gitignore